@model IEnumerable<DrivingLicence.Data.Exam>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-success">Tạo mới</a>
        </p>
        <table class="table" id="datatable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time) phút
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ExamId" class="btn btn-info btn-sm"><i class="fa fa-pen-square"></i></a>
                            <a asp-action="Details" asp-route-id="@item.ExamId" class="btn btn-primary btn-sm"><i class="fa fa-folder"></i></a>
                            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-centered-@item.ExamId"><i class="fa fa-trash"></i></button>
                            <!-- Begin Centered Modal -->
                            <div id="modal-centered-@item.ExamId" class="modal fade">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <form asp-action="delete" asp-controller="exams" method="post">
                                            @Html.AntiForgeryToken()
                                            <div class="modal-header">
                                                <h4 class="modal-title">Xóa</h4>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span aria-hidden="true">×</span>
                                                    <span class="sr-only">close</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="@item.ExamId" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-shadow" data-dismiss="modal">Hủy</button>
                                                <button type="submit" class="btn btn-danger">Xóa</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End Centered Modal -->
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
